html {
    background-color: #111821 !important;
}

body {
    background-color: transparent !important;
    padding: 0 !important;
}

.logo {
    max-height: 100px;
    margin: 0 auto;
}

.container {
    color: #b8babd;
    background-color: transparent !important;
    padding: 30px;
    border-radius: 10px;
}

.btn-primary {
    background-color: #5217d1;
    border-color: #5217d1;
}

.btn-primary:hover {
    background-color: #4915ba;
    border-color: #4915ba;
}

.form-group {
    margin: 20px;
}

.styled-input {
    width: 40%;
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: #b8babd;
    font-size: 1rem;
    padding: 10px 5px;
    transition: border-color 0.6s ease-in-out, box-shadow 0.9s ease-in-out;
}

.styled-input:focus {
    border-color: #5217d1;
    outline: none;
    box-shadow: none;
    color: #b8babd;
}

.styled-input::placeholder {
    color: #b8babd;
    opacity: 0.7;
}

.form-label {
    color: #b8babd;
}

.form-control {
    background: transparent !important;
    border: none;
    border-bottom: 2px solid #b8babd;
    color: #b8babd;
    border-radius: 0;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #5217d1;
    box-shadow: none;
    outline: none;
    color: #b8babd;
}

.form-control::placeholder {
    color: #b8babd;
    opacity: 0.7;
}

.form-label {
    color: #b8babd;
}

.styled-input.is-invalid {
    border-bottom-color: red;
}

.styled-input.is-valid {
    border-bottom-color: green;
}
