<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/leadForm.css}" />
    <title>Lead Form</title>
</head>
<body style="background-color: transparent;">
<div class="container mt-2">

    <div class="row">
        <div class="col p-5 d-flex justify-content-start align-items-start mb-5" style="position: relative">
            <img class="logo" th:src="@{/images/logo_full.png}" alt="Logo" style="position: absolute; left: 0; top: 30px">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form th:action="@{/submit?type=lead}" th:object="${lead}" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <input type="text" th:field="*{name}" placeholder="Name" class="styled-input" id="name" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name is required</div>
                </div>
                <div class="mb-3">
                    <input type="email" th:field="*{email}" class="styled-input" placeholder="Email" id="email" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email must be valid</div>
                </div>
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
            <div th:if="${message}" class="alert alert-success mt-3" role="alert">
                <span th:text="${message}"></span>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });

            var inputs = document.querySelectorAll('.styled-input');
            inputs.forEach(function(input) {
                input.addEventListener('focusout', function() {
                    if (input.checkValidity() === false) {
                        input.classList.add('is-invalid');
                        input.classList.remove('is-valid');
                    } else {
                        input.classList.add('is-valid');
                        input.classList.remove('is-invalid');
                    }
                });

                input.addEventListener('focus', function() {
                    input.classList.remove('is-invalid');
                    input.classList.remove('is-valid');
                });
            });
        }, false);
    })();
</script>
</body>
</html>
